################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/datingWebsiteProject/FileContentIndex/c44e4972-1e7f-46d5-975c-4fb01b178cbf.vsidx
/.vs/datingWebsiteProject/FileContentIndex
*.env
