<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />

  <style>
    body {
      font-family: "Old English Text MT", serif;
      
    }

    #medieval-border {
      border: 2px solid #7f5e46;
      border-radius: 10px;
      background-color: #ffe4b5;
      padding: 10px;
    }

    #medieval-button {
      background-color: #8b4513; /* Brown */
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    #medieval-button:hover {
      background-color: #cd853f; /* Peru */
    }
  </style>
</head>

<body>
  
  <header>
    <h1>LoveViaLetters</h1>
    <img src="LoveViaLettersLogo.jpg" alt=" " />
  </header>
<div class="container mt-5">
  <div class="d-flex justify-content-start">
    <div id="medieval-border">
      <div class="card-header">LvL</div>
      <div class="body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          lobortis dignissim lorem, sodales iaculis neque sodales sed. Donec
          luctus, tellus a faucibus pulvinar, dui nibh euismod lorem, eget
          blandit libero mi at neque. Sed mollis sit amet neque a
          scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Donec congue ex a aliquet commodo. Phasellus suscipit
          pulvinar sapien ut viverra. Integer vel consequat diam. Donec
          pellentesque mattis egestas. Fusce ultrices lorem non vestibulum
          semper. Proin egestas dictum condimentum. Quisque pretium sem
          ipsum, quis euismod arcu scelerisque in. Integer suscipit vel
          velit sed efficitur.
        </p>
      </div>
    </div>
  </div>
</div>

<!--<img src="banner.png" class="img-fluid" alt="banner" />-->
</body>
</html>
