<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />


</head>

<body>


<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="medieval-border">
        <div class="card-header center-text">Love Via Letters</div>
        <div class="card-body">
          <p>
            This is LoveViaLetters, the place where you will find people who adore the simple arts of the medieval
            times. We aim to please and meet the standard of your medieval fantasies and hope that you find you
            chivalrous knight in shining armor or your fair maiden, or who knows you might just be looking for someone
            who has a love from dragons just like you, whatever it is you seek you will find it here.
          </p>
        </div>
      </div>

      <div>
        <div class="card-header">Recommended Users</div>
        <div class="card-body">
          <p>Look out for these profiles in the swipe page</p>
          <p>They have been selected based on your interests</p>
        </div>
      </div>

        <div  *ngIf="!authService.currentUserSignal()" class="card-body">
          <h2>Please Login to see list</h2>
        </div>

      <div *ngIf="authService.currentUserSignal()">
        <ul class="user-list">
          <li *ngFor="let profile of filteredInterestProfiles" class="user-item">
            <div class="user-details">
              {{ profile.Name }} - {{ profile.Interests }}
            </div>
            <div class="profile-picture-container">
              <img [src]="profile.profilePic" alt="Profile Picture" class="profile-picture">
            </div>
          </li>
        </ul>
      </div>
    </div>


    <div class="col-lg-4">
      <div class="container-fluid">
        <img src="assets/banner.png" alt="Banner Image" class="img-fluid">
      </div>
    </div>
  </div>
</div>


</body>
</html>
