<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  />

  <style>
    body {
      font-family: "URW Chancery L", cursive;
    }

    #medieval-border {
      border: 2px solid #7f5e46;
      border-radius: 10px;
      background-color: #ffe4b5;
      padding: 10px;
    }

    #medieval-button {
      background-color: #8b4513; /* Brown */
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    #medieval-button:hover {
      background-color: #cd853f; /* Peru */
    }
  </style>
</head>

<body>
  
  <header>
    <h1>LoveViaLetters</h1>
    <img src="LoveViaLettersLogo.jpg" alt=" " />
  </header>
  <div class="container mt-5">
    <div class="d-flex justify-content-start">
      <div id="medieval-border">
        <div class="card-header">LvL</div>
        <div class="body">
          <p>
            This is LoveViaLetters, the place where you will find people who
            adore the simple arts of the medieval times. We aim to please and
            meet the standard of your medieval fantasies and hope that you
            find you chivalourus knight in shining armor or your fair maiden,
            or who knows you might just be looking for someone who has
            a love from dragons just like you, whatever it is you seek you will
            find it here.
          </p>
        </div>
      </div>
    </div>


    <div>
      <h1>Recommened Profiles</h1>
      <h2>Look out for these profiles in the swipe page</h2>
      <h2>They have been selected based on your interests</h2>
    </div>

    <div *ngIf="!authService.currentUserSignal()">>
      <h1> Please Login to see list</h1>
    </div>

    <div *ngIf="authService.currentUserSignal()">
      
      <ul class="user-list">
        <li *ngFor="let profile of filteredInterestProfiles" class="user-item">
          <div class="user-details">
            {{ profile.Name }} - {{ profile.Interests }}
          </div>
          <!--<img [src]="profile.profilePic" />-->
          <div class="profile-picture-container">
            <img [src]="profile.profilePic" alt="Profile Picture" class="profile-picture">
          </div>
        </li>
      </ul>
    </div>

  </div>

<!--<img src="banner.png" class="img-fluid" alt="banner" />-->
</body>
</html>
