body {
  font-family: "URW Chancery L", cursive;
  background-color: #f5e6cc;
  
}
header {
  font-family: "URW Chancery L", cursive;
  background-color: #f5e6cc;
  
}

#medieval-border {
  border: 2px solid #7f5e46;
  border-radius: 10px;
  background-color: #ffe4b5;
  padding: 10px;
}

#medieval-button {
  background-color: #8b4513; /* Brown */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#medieval-button:hover {
  background-color: #cd853f; /* Peru */
}

h1 {
  font-style: italic;

  margin-left: 525px;
}

.profile-picture-container {
  width: 100px; /* Set fixed width */
  height: 100px; /* Set fixed height */
  overflow: hidden; /* Hide overflow */
}

.profile-picture {
  width: 100%; /* Make the image fill the container */
  height: 100%; /* Make the image fill the container */
  object-fit: cover; /* Scale the image while maintaining aspect ratio */
}

.user-list {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

  .user-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }

.user-details {
  font-size: 16px;
  margin-bottom: 5px;
}
