
<body>

  <h1>Admin Panel</h1>

  <!--<div>
    Please enter the ID of the user to be banned
  </div>

  <form id="banForm" (ngSubmit)="banProfileById()">
    <label for="userId">User Id:</label>
    <input type="text" id="userId" [(ngModel)]="userId" name="userId" required>

    <label for="reason">Reason:</label>
    <textarea id="reason" [(ngModel)]="reason" name="reason" required></textarea>

    <button type="submit">Ban User</button>
  </form>

  <form id="unBanForm" (ngSubmit)="unBanProfileById()">
    <label for="userId">User Id:</label>
    <input type="text" id="userId" [(ngModel)]="userId" name="userId" required>

    <button type="submit">UnBan User</button>
  </form>-->
  <!--<h2>User List</h2>
  <ul>
    <li *ngFor="let profile of filteredProfiles">
      {{ profile.Name }} - {{ profile.UserId }}
      <button (click)="banProfile(profile.UserId)">Ban</button>
      <button (click)="unBanProfile(profile.UserId)">Unban</button>
    </li>
  </ul>-->

  <div class="admin-container">
    <h2>User List</h2>
    <ul class="user-list">
      <li *ngFor="let profile of filteredProfiles" class="user-item">
        <div class="user-details">
          {{ profile.Name }} - {{ profile.UserId }} - Ban Status : {{profile.isBanned}}
        </div>
        <div class="user-buttons">
          <button (click)="banProfile(profile.UserId)" class="ban">Ban</button>
          <button (click)="unBanProfile(profile.UserId)" class="unban">Unban</button>
        </div>
      </li>
    </ul>
  </div>


</body>
