<body>

  <h1>Admin Panel</h1>

  <form id="banForm" (ngSubmit)="banProfile()">
    <label for="userId">User ID:</label>
    <input type="text" id="userId" [(ngModel)]="userId" name="userId" required>

    <label for="reason">Reason:</label>
    <textarea id="reason" [(ngModel)]="reason" name="reason" required></textarea>

    <label for="userId">Ban Time</label>
    <input type="text" id="banTime" [(ngModel)]="banTime" name="banTime" required>

    <button type="submit">Ban User</button>
  </form>

</body>
