@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* The main container */

.container {
    width: 100%;
    margin: auto;
    background-image: linear-gradient(to right, #f5e6cc, #ffe4b5);
    display: flex
    align-items center;
    justify-content: center;
    margin-top: 2rem;
    letter-spacing: 0.5px;
    height: 100vh;
}