.container {
  display: flex;
  height: calc(100vh - 70px);
}

.match-list {
  width: 40%;
  margin: 16px;
  background: #D2B48C;
  border-radius: 16px;
}

.chat {
  width: 60%;
  margin: 16px;
  padding: 16px;
  background: #FFF;
  border-radius: 16px;
}

.messages {
  height: 300px;
  overflow-y: scroll;
}

.sent {
  text-align: right;
  color: #0066FF;
}

.received {
  text-align: left;
  color: #333;
}
