<div class="container">
  <div class="match-list">
    <h2>Matched Users</h2>
    <ul>
      <li *ngFor="let user of matchedUsers">
        <div class="profile-picture-container">
          <img [src]="user?.profilePic" alt="Profile Picture" class="profile-picture">
        </div>
        <button (click)="openChat(user)">Chat with {{ user.Name }}</button>
      </li>
    </ul>
  </div>
  <div class="chat" *ngIf="selectedUser">
    <h2>Chatting with {{ selectedUser?.Name || 'Unknown User' }}</h2>
    <div class="messages">
      <div *ngFor="let message of chatMessages">
        <p [ngClass]="{'sent': message.senderId === authService.getUid(), 'received': message.senderId !== authService.getUid()}">
          {{ message.content }}
        </p>
      </div>
    </div>
    <form (submit)="sendMessage()">
      <input type="text" [(ngModel)]="newMessage" placeholder="Type a message..." name="chat" />
      <button type="submit">Send</button>
    </form>
  </div>
</div>
