body {
  background-color: #f5e6cc;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-size:cover;

}
h1{
  margin:0;
}


#medieval-border {
  border: 2px solid #7f5e46;
  border-radius: 10px;
  background-color: #ffe4b5;
  padding: 10px;
}

#medieval-button {
  background-color: #8B4513;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

  #medieval-button:hover {
    background-color: #CD853F;
  }
