rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow read and write access to authenticated users
    match /{document=**} {
      allow read, write: if request.auth != null;
    }

    // Define specific access rules for the "yt" collection
    match /yt/{userId}/{fileName} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
