.card-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: auto;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.card {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.btn-like, .btn-dislike {
  display: block;
  width: calc(30% - 10px);
  margin: 10px auto;
  border: 2px solid transparent;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

#medieval-border {
  border: 2px solid #7f5e46;
  border-radius: 10px;
  background-color: #ffe4b5;
  padding: 10px;
}
