.card-container {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card.like {
    transform: translateX(-100%) rotate(-30deg);
    transition: transform 0.3s ease;
  }

  .card.dislike {
    transform: translateX(100%) rotate(30deg);
    transition: transform 0.3s ease;
  }

.btn-like, .btn-dislike {
  position: absolute;
  bottom: 20px;
  border: 2px solid transparent;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-like {
  left: 20px;
}

.btn-dislike {
  right: 20px;
}

#medieval-border {
  border: 2px solid #7f5e46;
  border-radius: 10px;
  background-color: #ffe4b5;
  padding: 10px;
}
