<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Swipe Page</title>
</head>
<body>
  <!--<input type="file"/><img src="C:\Users\seanc\OneDrive\Desktop\face-1.png" />-->
  <div class="card-container" id="medieval-border">
    <div class="card">
      
      <img alt="Profile Image">
    </div>
  </div>

  <button class="btn-like" (click)="swipe('like')">Like</button>
  <button class="btn-dislike" (click)="swipe('dislike')">Dislike</button>



</body>
</html>
